.contact-container {
    width: 100%;
    height: calc(100vh - 10vh);
    // border: 1px solid black;
  
    .contact-left-panel {
      width: 20%;
      height: calc(100vh - 40px);
  
      .mat-list-option {
        // color: $nav-font-color;
  
        .mat-icon {
          margin-top: auto;
          margin-bottom: auto;
          padding-right: 10px;
        }
  
      }
  
      .mat-list-single-selected-option {
        // color: mat-color($ng-app-primary);
      }
  
    }
  
    .contact-content-panel {
      width: 84%;
      padding-left: 10px;
      padding-right: 50px;
      // background-color: #fff;
      // border: 1px solid black;
  
  
      // .mat-toolbar-header {
      //   position: sticky;
      //   top: 0 !important;
      // }
  
  
  
    }
  
  
  
  }

.search{
  height: 10vh;
}
.name{
  width: 100%;
}
.employee-list{
  height: 15vh;
}
.scrol{
  height: 73vh;
  overflow: auto !important;
}
.field-search{
  width: 95%;
}
.card{
  height: 7vh;
}
.person-icon{
  margin-top: 2px;
}
.header-person{
  margin-top: 2px;
  margin-right: 10px;
}
.menu{
  margin-bottom: 6px;
}
.import{
  margin-left: 10px;
  // background-color: rgb(233, 233, 233);
}
.add{
  margin-left: 8px;
  // background-color: rgb(233, 233, 233);
}