<mat-drawer-container class="contact-container">
  <mat-drawer fxLayout="column" class="contact-left-panel" mode="side" opened="true" position="start">
    <div>
      <button class="add" mat-raised-button type="button" (click)="openAddEmployeeDialog('')">
        <mat-icon>person_add</mat-icon>
        <span>เพิ่มข้อมูลผู้ใช้</span>
      </button>
      <button class="import" type="button"  name="file" mat-raised-button (click)="selectFile.click()">
        <mat-icon>library_add</mat-icon>
        นำเข้า
        <input id="file-input" #selectFile style="display: none;" type="file" (change)="importExcel($event)">
      </button>
    </div>
    <div fxLayoutAlign="center" class="search">
      <mat-form-field appearance="outline" class="field-search">
        <mat-label>
          <mat-icon>search</mat-icon>
        </mat-label>
        <input #searchContact matInput placeholder="Search...">

        <button matSuffix *ngIf="isSearching" mat-icon-button (click)="cancelSearch()">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="scrol" #contactList>
      <mat-selection-list [multiple]="false">
        <mat-list-option class="employee-list" *ngFor="let item of employeeList" (click)="chooseContact(item)">
          <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <a class="name">
              {{ item.title + item.firstName}} {{item.lastName}}
            </a>
            <div fxLayoutAlign="end">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openAddEmployeeDialog(item)">
                  <mat-icon>edit</mat-icon>
                  <span>edit</span>
                </button>
                <button mat-menu-item (click)="onDelete(item)">
                  <mat-icon>delete</mat-icon>
                  <span>delete</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="contact-content-panel" fxLayout="column" *ngIf="activeEmployee">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="สรุปรายการ">
        <app-list-summary [testId]="activeEmployee._id"></app-list-summary>
      </mat-tab>
      <mat-tab label="เงินสดย่อย">
        <div>
          <app-petty-cash-table [employeeId]="activeEmployee._id" [data]="activeEmployee"></app-petty-cash-table>
        </div>
      </mat-tab>
    </mat-tab-group>
    <router-outlet></router-outlet>
  </mat-drawer-content>



</mat-drawer-container>