<div fxLayout="column" fxFlexFill class="dialog-container">
    <mat-toolbar fxLayout="row" fxFlex="0 1 auto" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div fxFlex="1 0 auto">{{item?.value}}</div>
            <div fxFlex="0 1 auto">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon" (click)="onClose()">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <form fxLayout="column" class="content" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div fxFlex="1 0 auto" *ngFor="let control of formBase">
            <app-formbase [form]="form" [control]="control"></app-formbase>
        </div>
        <div>
            <mat-radio-group class="margin-radio" formControlName="status" fxLayoutAlign="space-around" >
                <mat-radio-button *ngFor="let item of status" class="radio" [value]="item.name" [checked] = "item.name ==='เงินเข้า'">{{item.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="status" >
            <mat-form-field class="width" fxFlex>
                <input matInput formControlName="amount" type="number" onfocus="this.value=''"
                    class="example-right-align" placeholder="จำนวนเงิน">
                <span matSuffix>.00</span>
            </mat-form-field>
        </div>

        <div fxFlex="0 1 auto" fxLayoutAlign="center end" style="margin: 20px 0 20px 0;" fxLayout="row"
            fxLayoutGap="10px">
            <button class="slip" fxFlex="40" type="button" color="primary" name="slip" mat-raised-button
                (click)="selectSlip.click()">
                แนบสลิป
                <input id="file-input" #selectSlip style="display: none;" type="file" (change)="selectedFile($event)"
                    accept=".png,.jpg">
            </button>
        </div>
        <a fxFlex="0 1 auto" fxLayoutAlign="center end" style="margin: 20px 0 20px 0;">
            <button fxFlex="80" mat-raised-button color="primary" type="submit"
                [disabled]="!form?.valid">ยืนยัน</button>
        </a>

    </form>
</div>