<div fxLayout="column" fxFill style="border: 1px solid black;">
    <mat-toolbar fxLayout="row" color="primary" fxFlex="0 1 auto">
        <span fxFlex="1 0 auto">
            เปลี่ยนรหัสผ่าน
        </span>
        <button mat-icon-button fxFlex="0 1 auto" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
        
    
    <div class="reset-container">
        <form [formGroup]="pwdForm" fxLayout="column" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" >
                <mat-label>รหัสผ่านเก่า</mat-label>
                <input matInput [type]="isShowOldPassword ? 'text': 'password' " 
                    placeholder="รหัสผ่านเก่า"
                    formControlName="oldPassword"
                    required
                >
                <button mat-icon-button matSuffix type="button" (click)="isShowOldPassword = !isShowOldPassword">
                    <mat-icon>{{isShowOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>รหัสผ่านใหม่</mat-label>
                <input matInput [type]="isShowNewPassword ? 'text': 'password' " 
                    placeholder="รหัสผ่านใหม่" 
                    formControlName="newPassword"
                    minlength="6"
                    required
                >
                <button mat-icon-button matSuffix type="button" (click)="isShowNewPassword = !isShowNewPassword">
                    <mat-icon>{{isShowNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <mat-hint>รหัสผ่านอย่างน้อย 6 ตัว</mat-hint>
                <mat-error *ngIf="pwdForm.get('newPassword').invalid">กรุณาใส่รหัสผ่านใหม่อย่างน้อย 6 ตัว</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
                <input matInput [type]="isShowConfirmPassword ? 'text': 'password' " 
                    placeholder="ยืนยันรหัสผ่านใหม่"
                    formControlName="confirmPassword"
                    [errorStateMatcher]="matcher"
                    required
                >
                <button mat-icon-button matSuffix type="button" (click)="isShowConfirmPassword = !isShowConfirmPassword">
                    <mat-icon>{{isShowConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <mat-error *ngIf="pwdForm.hasError('notSame')">ยืนยันรหัสผ่านไม่ถูกต้อง</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end">
                <button mat-raised-button color="primary" 
                    type="submit"
                    [disabled]="pwdForm.invalid || !checkConfirmPassword()"
                >
                    ยืนยัน
                </button>
            </div>  
        </form>
      
    </div>
</div>