<div fxLayout="column" fxFlexFill class="dialog-container">
    <mat-toolbar fxLayout="row" fxFlex="0 1 auto" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div fxFlex="1 0 auto">{{layout?.value}}</div>
            <div fxFlex="0 1 auto">
                <button type="button" aria-label="Toggle sidenav" (click)="onClose()" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div fxFlex="1 0 auto" *ngFor="let control of formBase" >
        <app-formbase [form]="form" [control]="control"></app-formbase>
    </div>
</div>