<div fxLayout="column" fxFlexFill class="dialog-container">
    <mat-toolbar fxLayout="row" fxFlex="0 1 auto" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div fxFlex="1 0 auto">{{layout?.value}}</div>
            <div fxFlex="0 1 auto">
                <button type="button" aria-label="Toggle sidenav" (click)="onClose()" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <form fxLayout="column" class="content" (ngSubmit)="onSubmit()">
        <div fxFlex="1 0 auto" *ngFor="let control of formBase">
            <app-formbase [form]="form" [control]="control"></app-formbase>
        </div>
        <div fxFlex="0 1 auto" fxLayoutAlign="center end" style="margin: 20px 0 20px 0;">
            <button fxFlex="80" mat-raised-button color="primary" type="submit"
                [disabled]="!form?.valid">ยืนยัน</button>
        </div>
    </form>
</div>