.negative{
    color: red;
}
.toolbar{
    height: 7vh;
    background: white;
}
.table{
    overflow: auto;
    height:83vh;
}
.total{
    margin-right: 10%;
    
}
.dialogAddItem{
    margin-right: 3%;
}
.net{
    font-size: 17px;
    margin-right: 2%;
    color: rgb(88, 88, 88);
}