<div fxLayout="column" fxFlex="100">
    <mat-toolbar class="toolbar" fxLayoutAlign="space-between end">
        <div>
            <span>{{data.title + data.firstName}} {{data.lastName}}</span>
        </div>
        <div class="dialogAddItem">
            <a class="net"> สุทธิ</a>
            <a class="total" [ngClass]="{negative: sumData < 0}">{{sumData | number: "0.2"}}</a>
            <button mat-flat-button  color="primary" (click)="onDialogAddItem()">
                เพิ่มรายการ
            </button>
        </div>
    </mat-toolbar>
    <div class="table">
        <app-tablebase [dataSource]="employee" [table]="table" (onDownloadRow)="onDownloadRow($event)"
        (onPageEventChanged) = "onPageEventChanged($event)">
        </app-tablebase>
    </div>

</div>