* {
    margin: 0;
    padding: 0;
}


.btn-ok {
    width: 30%;
}

.btn-cancel {
    width: 30%;
}

.icon-confirm {
    font-size: 60px;
    color: red;
}

.message-content {
    word-break: break-word;
    white-space: pre-wrap;
}