@import "~@angular/material/theming";
@import 'src/styles.scss';

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.150);
  cursor: pointer;
}
.pagin{
  position: absolute;
  bottom: 1%;
  margin-left: 57%;
}
.header{
  position: sticky;
  top: 0;
  background-color: #ffffff;
}