<div *ngIf="table">
    <table mat-table fxFlex matSort aria-label="Elements" [dataSource]=" dataSource ? dataSource.data : []">
        <!-- Columns -->
        <ng-container matColumnDef="rownum">
            <th style="width: 7%;" mat-header-cell *matHeaderCellDef mat-sort-header>ลำดับ </th>
            <td mat-cell *matCellDef="let i = index">
                <!-- {{dataSource.pageIndex == 0 ? i + 1 : 1 + i + (dataSource.pageIndex * dataSource.pageSize)}} -->
                {{dataSource.pageIndex == 1 ? i + 1 : 1 + i + ((dataSource.pageIndex-1) * dataSource.pageSize)}}
                <!-- {{i + 1}} -->
            </td>
        </ng-container>

        <ng-container [matColumnDef]="item.key" *ngFor="let item of table.columns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{item.value}}</th>
            <td mat-cell *matCellDef="let row" [ngSwitch]="item.controlType">
               <span *ngSwitchCase=""> {{row[item.key]}}</span>
               <span *ngSwitchCase="'datetime'" > {{row[item.key] | date:'dd/MM/yyyy'}}</span>
               <span *ngSwitchCase="'number'" fxLayoutAlign="end" style="margin-right: 25px;"> {{row[item.key] | number:'1.0'}}</span>
               <span *ngSwitchCase="'decimal'" fxLayoutAlign="end" style="margin-right: 25px;"> {{row[item.key] | number:'1.2'}}</span>
            </td>
            
        </ng-container>

        <!-- Menu Column -->
        <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef>จัดการ</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button *ngIf="table?.menus?.includes('edit')"
                        mat-menu-item (click)="onEdit(row)"
                    >
                        <mat-icon>edit</mat-icon>
                        <span>แก้ไข</span>
                    </button>
                    <button *ngIf="table?.menus?.includes('delete')"
                        mat-menu-item (click)="onDelete(row)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span>ลบ</span>
                    </button>
                    <button *ngIf="table?.menus?.includes('download')"
                        mat-menu-item (click)="onDownload(row)"
                    >
                        <mat-icon>download</mat-icon>
                        <span>ดาว์นโหลด</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="table.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: table.displayedColumns;" (click)="onSelect(row)"></tr>
    </table>

</div>

<div *ngIf="table && dataSource">
    <mat-paginator #paginator [length]="dataSource.totalRecord || 0" [pageIndex]="0" [pageSize]="dataSource.pageSize || 10"
        [pageSizeOptions]="[10, 20, 50, 100]" (page)="pageEvent = onPageEvent($event)">
    </mat-paginator>
</div>
<div *ngIf="table && !dataSource" fxLayoutAlign="center center" style="background-color: rgba(223, 219, 219, 0.513);">
    <span style="margin-top: 2rem; margin-bottom: 2rem; color: silver;">ยังไม่มีรายการ</span>
</div>